// COLORS
@function muted($opacity: 1) {
  @return rgba(192, 192, 192, $opacity);
}
@function black($opacity: 1) {
  @return rgba(26, 18, 18, $opacity);
}
@function success($opacity: 1) {
  @return rgba(50, 205, 50, $opacity);
}
@function primary($opacity: 1) {
  @return rgba(29, 55, 80, $opacity);
}

@function danger($opacity: 1) {
  @return rgba(232, 27, 70, $opacity);
}
@function warning($opacity: 1) {
  @return rgba(255, 140, 0, $opacity);
}
@function white($opacity: 1) {
  @return rgba(255, 255, 255, $opacity);
}

//TEXT COLOR
.text-muted {
  color: muted();
}
.text-black {
  color: muted();
}
.text-success {
  color: success();
}
.text-primary {
  color: primary();
}
.text-danger {
  color: danger();
}
.text-warning {
  color: warning();
}
.text-white {
  color: white();
}

//BACKGROUND COLOR
.bg-muted {
  background-color: muted();
}
.bg-black {
  background-color: muted();
}
.bg-success {
  background-color: success();
}
.bg-danger {
  background-color: danger();
}
.bg-warning {
  background-color: warning();
}
.bg-white {
  background-color: white();
}
.bg-primary {
  background-color: primary();
}





// PADDINGS
$var: (1, 2, 3, 4, 5, 6, 7, 8, 9, 0);

@each $v in $var {
  .p-#{$v} {
    padding: #{$v}em;
  }
  .pl-#{$v} {
    padding-left: #{$v}em;
  }
  .pr-#{$v} {
    padding-right: #{$v}em;
  }
  .pt-#{$v} {
    padding-top: #{$v}em;
  }
  .pb-#{$v} {
    padding-bottom: #{$v}em;
  }
  .m-#{$v} {
    margin: #{$v}em;
  }
  .ml-#{$v} {
    margin-left: #{$v}em;
  }
  .mr-#{$v} {
    margin-right: #{$v}em;
  }
  .mt-#{$v} {
    margin-top: #{$v}em;
  }
  .mb-#{$v} {
    margin-bottom: #{$v}em;
  }
  .gap-#{$v} {
    gap: #{$v}em;
  }
}
