


@media(min-width: 35em){

  .about {
    position: relative;
    section:nth-of-type(1) {
      nav {
        position: fixed;
        top: 0;
        z-index: 9;
      }
    }
    .about-info {
      .about-content {
        display: flex;
        flex-wrap: wrap;
        div {
          flex: 10rem 1 1;
        }
        div:nth-last-of-type(1) {
          padding: 3em;
          line-height: 2.4rem;
        }
      }
    }
  }
}


@media(max-width: 35em){
  .about {
    position: relative;
    section:nth-of-type(1) {
      nav {
        position: fixed;
        top: 0;
        z-index: 9;
      }
    }
    .about-info {
      .about-content {
 
        div {
          flex: 10rem 1 1;
        }
        div:nth-last-of-type(1) {
          padding: 3em;
          line-height: 2.4rem;
        }
      }
    }
  }
  
}