.home {
  position: relative;

  section:nth-of-type(1) {
    nav {
      position: fixed;
      top: 0;
      z-index: 9;
    }
  }

  section:nth-of-type(2) {
    h2 {
      color: white;
      text-align: center;
      margin-top: 1.4em;
      font-size: 3rem;
    }
    background-image: linear-gradient(transparent, black),
      url('/sanitary-bg.JPG');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    & > div {
      position: absolute;
      top: -5rem;
      z-index: 5;
      left: 50%;
      transform: translateX(-50%);
    }

    .caption-bx {
      padding: 3em;
      img {
        border-radius: 50%;
      }
      &:nth-of-type(odd) {
        background-color: white();
        h5 {
          background-color: primary();
          color: white;
          padding: 0.7rem;
          margin-block: 1em;
          font-size: 1.3rem;
          text-align: center;
          letter-spacing: 0.5em;
        }
        .para {
          p {
            text-align: center;
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }
      }
      &:nth-of-type(even) {
        background-color: primary();
        color: white;
        h5 {
          background-color: danger();
          color: white;
          padding: 0.7rem;
          margin-block: 1em;
          font-size: 1.3rem;
          text-align: center;
          letter-spacing: 0.5em;
        }
        .para {
          p {
            text-align: center;
            font-size: 1.4rem;
            line-height: 2rem;
            color: white !important;
          }
        }
      }
    }
  }

  section:nth-of-type(3) {
    .about-us {
      display: flex !important;
      flex-wrap: wrap;
      div {
        flex: 1rem 1 1;
        &:nth-of-type(2) {
          padding: 3em;
          h3{
            background-color: danger();
            color: white;
            padding: .5em;
            text-align: center;
            margin-bottom: 1.2em;
          }
          p{
            line-height: 2rem;
            font-size: 1.4rem;
          }
        }
      }

    }
  }
}
