
/* RESET */
:root {
    font-size: 62.5%;
    line-height: 1.5rem;
  }
  body {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: clamp(16px, 5vw, 11vw);
  }
  h2 {
    font-size: clamp(14px, 4vw, 9vw);
  }
  h3 {
    font-size: clamp(12px, 2vw, 7vw);
  }
  p {
    font-size: clamp(10px, 9vw, 16px);
    color: #444;
  }
  img {
    max-width: 100%;
    display: block;
  }
  
  /* FLEX BOX */
  .container {
    width: calc(100% - 5rem);
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    div {
      flex-grow: 1;
      flex-shrink: 1;
    }
    .col-1{
      flex-basis: 10rem;
    }
    .col-2{
      flex-basis: 20rem;
    }
    .col-3{
      flex-basis: 30rem;
    }
    .dam{
      border: solid 55rem  green;
    }
    .col-4{
      flex-basis: 40rem;
    }
    .col-5{
      flex-basis: 50rem;
    }
    .col-6{
      flex-basis: 60rem;
    }
    .col-7{
      flex-basis: 70rem;
    }
    .col-8{
      flex-basis: 80rem;
    }
    .col-9{
      flex-basis: 90rem;
    }
    .col-10{
      flex-basis: 100rem;
    }
  
  }
  
  .flex{
    display: flex;
  }
  
  ul {
    list-style: none;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  