.sectiontitle {
  background-color: danger();
  width: 30rem;
  margin-top: 2em;
  margin-bottom: 4em;
  margin-inline: auto;
  h3 {
    color: white !important;
    font-size: 2rem;
    text-align: center;
    padding: .6em;
  }
}
