.shop {
  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: calc(100% - 4rem);
    margin-inline: auto;
    justify-content: center;
    div {
      flex-basis: 30%;
      flex-grow: 0;
      flex-shrink: 1;
    }
  }
  .category {
    background-color: danger();
    color: white;
    font-size: 1.8rem;
    padding: 1.2rem;
    border-radius: 2em;
    margin-block: 2em;
  }

  .sort-wrapper {
    display: flex;
    gap: 2rem;
    div:nth-of-type(1) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    h3 {
      font-size: 1.6rem;
    }
    .sort {
      background-color: primary();
      width: 100%;
      color: white;
      font-size: 1.4rem;
      padding: 0.9rem;
      border-radius: 2em;
      margin-block: 2em;
    }
  }

  .category-links {
    margin-left: 0;
    padding-left: 0;
    font-size: 1.6rem;
    line-height: 3.5rem;
    a {
      display: flex;
      gap: 1rem;
      text-decoration: none;
      align-items: center;
      color: black;
      font-size: 1.4rem;
      margin-left: 1em;
      .fa {
        color: danger();
      }
    }
  }
  .prod-imgbx-wrapper {
    position: relative;
    align-items: center;

    &:hover a {
      a {
        margin-top: 4em;
      }
    }

    &:hover div:nth-of-type(2) {
      background-color: primary(0.4);
    }

    &:hover div:nth-of-type(1) img {
      transform: rotateY(180deg);
    }

    div:nth-of-type(1) {
      width: 100%;
      img {
        transition: 0.2s ease-in;
      }
    }

    a {
      color: black();
      display: block;
 

      div {
        width: 100%;
        position: relative;
        div {
          position: absolute;
          h3 {
            background-color: white;
            font-size: 1.2rem;
            width: calc(100% - 2rem);
            margin-inline: auto;
            text-align: center;
            padding: 0.6rem;
          }
          h4 {
            background-color: white;
            width: calc(70% - 5rem);
            margin-inline: auto;
            text-align: center;
            padding: 0.4rem;
          }
        }
      }
      a {
        background-color: danger();
        color: white;
        display: block;
        padding: 0.8rem;
        width: 12rem;
        border-radius: 3rem;
        margin-inline: auto;
        text-align: center;
        text-decoration: none;
        margin-top: 30rem;
        transition: 0.2s ease-in;
      }
    }
    div:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: 0.2s ease-in;
    }
  }
  .thumbnail{
    display: flex;
  }
}
